.wrap {
  padding: var(--space-48);
  max-width: var(--container-max);
  margin: 0 auto;
}

.title {
  color: var(--text-primary);
  margin-bottom: var(--space-48);
}

.section {
  margin-bottom: var(--space-48);
}

.sectionTitle {
  font: var(--text-style-card-title);
  color: var(--text-secondary);
  margin-bottom: var(--space-24);
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-24);
  align-items: center;
  margin-bottom: var(--space-24);
}